<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Card</title>
{% extends "base.html" %}

{% block title %}Add Bookmark{% endblock %}

{%block content %}
    <h1>Add A New Bookmark</h1>
    <form method="post">
        <p>
            Bookmark Title
            <input type="text" name="bookmarktitle">
        </p>
        <p>
            Bookmark URL
            <input type="url" name="bookmarkurl">
        </p>
        <p>
            Category
           <input type="text" name="category">
        </p>
        <p>
            Sub-Category
            <input type="text" name="subcategory">
        </p>
        <p>
            Bookmark Description
            <input type="text" name="bookmarkdesc">
        </p>
        <button type="submit">Add Bookmark</button>
    </form>
    <a href="{{ url_for('welcome')}}">Home</a>
{% endblock %}