<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Card</title>
{% extends "base.html" %}

{% block title %}Add Bookmark{% endblock %}

{%block content %}
    <h1>Add A New Bookmark</h1>
    <form method="post">
        <p>
            Bookmark Title
            <input type="text" name="bookmarktitle">
        </p>
        <p>
            Bookmark URL
            <input type="url" name="bookmarkurl">
        </p>
        <p>
            Category
            <select type="text" name="category">
                <option>Please Select</option>
                <option>Sustainability</option>
                <option>Coding</option>
                <option>Resources</option>
            </select>
        </p>
        <p>
            Sub-Category
            <select type="text" name="subcategory">
                <option>Please Select</option>
                <option>Biking</option>
                <option>Zero Waste</option>
                <option>Gardening</option>
                <option>HTML</option>
                <option>Books</option>
            </select>
        </p>
        <p>
            Bookmark Description
            <input type="text" name="bookmarkdesc">
        </p>
        <button type="submit">Add Bookmark</button>
    </form>
    <a href="{{ url_for('welcome')}}">Home</a>
{% endblock %}