{% extends "base.html" %}

{% block title %}Delete Bookmark{% endblock %}

{%block content %}
    <h1>Remove A Bookmark</h1>
    Bookmark Title: <a href="{{ bookmark.bookmarkurl }}">{{ bookmark.bookmarktitle }}</a> <br>
    Category: {{ bookmark.category }} <br>
    Sub Category: {{ bookmark.subcategory }} <br>
    Description: {{ bookmark.bookmarkdesc }}

    <h2>Are you sure?</h2>
    <form method="post">
        <button type="submit">YES</button>
        <a href="{{ url_for('welcome')}}">NO</a>
    </form>
{% endblock %}